html{
    height:200%;
}

body{
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
}

div{
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    
    overflow: auto;

    vertical-align: baseline;
}   

a{
    text-decoration: none;
    color: black;
}

button{
    background: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    
    text-decoration: none;  

    color: inherit;
    font: inherit;
    
    line-height: 100%;

    overflow: hidden;
}

i{
    margin: 0;
    padding: 0;
}

input{
    outline: none;
    border: 0;
}

ul, li{
    list-style: none;
}

main{
    margin-left: 115px;
    padding-top: 20px;
}

footer{
    margin: auto 61.5px;
    font-size: 12px;

    text-align: left;
    display: inline-block;
}

.header_nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header_outer{
    background: #121517;
    width: 100%;
    min-width: 783px;
}
.header_inner{
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    height: 52px;
}

.header_inner button{
    border:none;
    
    color: white;
    font-size: 12px;

    cursor: pointer;
}

.header_logo{
    margin-left: 12px;
}
.latest_item i{
    margin-left: 8px;
    margin-right: 8px;
}
.header_sex{
    margin-left: 12px;
    width: 160px;
}
.header_options{
    margin-right: 6px;
}
.header_options button{
    padding-left: 4px;
    padding-right: 4px;
}

#font_bold{
    font-weight: bold;
    font-size: 20px;
}
#latest_font{
    font-size: 14px;
}

.space_sex{
    margin-left: 24px;
}
.left_border{
    border-left: white solid 1px;
}
.flex_margin{
    margin-left: 12px;
}
.latest_item{
    width: 620px;
}

.nav{

    width: 100%;

    background-color: rgb(241, 243, 246);
    justify-content: center;
    align-items: center;
}

.nav_containerWrap{
    margin: 0 auto;

    max-width: 1100px;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 56px;

    margin-left: 12px;
}

.nav_btn{
    margin: 16px 36px 16px 0;
    font-size: 14px;
}

.nav_searchBox{
    display: flex;
    width: 398px;
    height: 38px;
    border: 1px solid rgb(222, 226, 230);
    background-color: white;
    align-items: center;

    overflow: hidden;
}

.search_tagWrap{
    margin: 5px;
    font-size: 12px;
    
    box-sizing: border-box;
}

.search_tagBtn_item{
    height: 30px;
    width: 43px;
    background-color: white;

    color: rgb(66, 133, 244);
    border: 1px solid rgb(66, 133, 244);
    border-radius: 2px;
}

.search_tagBtn_store{
    height: 30px;
    width: 54px;
    background-color: rgb(241, 243, 246);
}

.search_btn{
    font-size: 12px;

}

.search_inputWrap{
    box-sizing: border-box;
    text-align: left;
    margin-left: 3px;
    margin-right: 12px;
    
    flex: 1 1;
    height: 30px;

    overflow: hidden;
}

.search_input{
    width: 100%;
    height: 30px;
    font-size: 14px;
    border: 0;
    padding: 0;
    margin-right: 12px;
}

.search_btnWrap{
    display: flex;
    align-items: center;
    width: 50px;
    height: 32px;
    margin: 4px;

    border-radius: 3px;
}

.search_btn{
    background-color: rgb(66, 133, 244);

    padding: 0;
    color: white;

    cursor: pointer;
    font-size: 12px;

    width: 100%;
    height: 30px;

   
}

.root{
    width:1100px;
    min-width: 1100px;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 128px;
}
.root aside{
    float: left;
    padding-left: 12px;
    cursor: pointer;
}
.root aside ul{
    list-style-type: none;
    padding-left: 0;
}

.category{
    margin-bottom: 36px;
}
.category *{
    margin-bottom: 12px;
}
.category_name{
    font-size: 14px;
    font-weight: bold;
    height: 20px;
}
.category_content li{
    font-size: 12px;
    color: gray;
    height: 18px;
}

.category_content li:hover{
    color:black;
    font-weight: bold;
}

.banner{
    width: 680px;
    float: left;
}

.banner img{
    width: 100%;
}

.banner_container{
    display: flex;
}

.popular{
    margin-left: 23px;
    float:left;
    
    height: 100%;
    width: 240px;
}

.popular_search{
    border-bottom: 1px solid #c7cdd4;

    font-weight: 700;
    font-size: 18px;

    padding-bottom: 11px;
}

.ranking{
    display: flex;
}

.rank_ul{
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
}

.rank_li{
    height: 24px;
    margin-top: 22px;
    line-height: 14px;

    font-size: 14px;
}

.rank_num{
    color: #4285f4;
    font-weight: 700;

    margin-right: 11px;

    width: 22px;

    display: inline-block;
}


/*밥도 잘 먹지 모달~ 니가 생각날 까봐~*/
.modal{
    display: block;

    position: fixed;
    z-index: 1000;
    
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.418);
}

.modal_component{
    font-size: 30px;
    color: #212529;
    line-height: 1.5;
    border: 1px solid white;


    position: relative;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 400px;

    background-color: white;
    border-radius: 8px;

    transform: translateX(-50%) translateY(-50%);
}

.modal_component_header{
    display: flex;
    width: 56px;
    height: 56px;

    align-items: center;
    justify-content: center;
    margin: 62px auto 0;

    border-radius: 50%;
}

.modal_component_body{
    margin-top: 32px;
    text-align: center;
}

.modal_btnWrap{
    margin-top: 44px;
    text-align: center;
    justify-content: center;
}

.modal_btn{
    width: 151px;
    height: 52px;

    padding: 0;
    margin: 0 12px;
    border: 1px solid rgba(73, 73, 73, 0.178);

    border-radius: 40px;
    font-size: 20px;
    font-weight: 300;

    cursor: pointer;
}
.modal_btn.man:hover{
    border-color: rgb(0, 17, 255);
}

.modal_btn.woman:hover{
    border-color: rgb(255, 0, 0);
}

/* 상품랭킹 CSS */
.tag{
    margin-top: 10px;
}
.flex{
    display: flex;
}
.space_between{
    justify-content: space-around;
}

.item_ranking{
    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 500;

    margin-top: 80px;
    margin-bottom: 25px;
}
.more_search{
    font-size: 14px;
    font-weight: 500;
    color: #4285f4;
}

.item_row{
    display: flex;
    justify-content: space-between;
}

.item_container{
    width: 180px;
    margin-bottom: 80px;
}

.item_image{
    display: block;
    position: relative;
    height: 210px;
    z-index: -1;
}
.item_photo{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.item_pin_button{
    position: absolute;
    height: 40px;
    cursor: pointer;
    top: 80%;
    bottom: 0;
    left: 75%;
}

.item_info_wrapper{
    padding-left: 0px;
    margin-top: 12px;
    margin-bottom: 0px;
}
.company_name{
    font-size: 12px;
    font-weight: 450;
    color: gray;
}

.item_name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-top: 10px;
}
.item_wrapper{
    justify-content: space-between;
    align-items: flex-end;
}
.item_price{
    font-size: 14px;
    font-weight: bold;
    
}
.item_delay{
    display: inline;
    font-size: 12px;
    padding: 0 4px;
}

.grade{
    font-size: 14px;
    margin-right: 3px;
}
.grade.red{
    color: #f2616b;
}
.grade.gray{
    color: gray;
}

.item_category{
    height: 45px;
    display: flex;
    font-size: 12px;
}
.item_category button{
    color: black;

    /* border-bottom: 2px solid #4285f4; */
    height: 100%;

    cursor: pointer;
}
.item_category button:hover{
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
    font-weight: 700;
}
.item_category_name{
    text-align: center;
    margin-right: 20px;
}



.coordi_card_container{
    height: 400px;
    width: 270px;
    margin-bottom: 40px;
}
.coordi_card_image{
    height: 315px;
    width: 270px;

    overflow: hidden;
}
.coordi_like{
    position: relative;
    cursor: pointer;
    bottom: 12%;
    left: 73%;
    color: white;
    background-color: rgba(0,0,0,.2);
    padding: 4px 8px;
    border-radius: 4px;
    
}
.coordi_like_button{
    overflow: hidden;
}
.coordi_title{
    margin-top: 12px;
}
.coordi_tag_container{
    margin-top: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.coordi_tag{
    display: inline;
    background-color: #f1f3f6;
    color: #868e96;
    padding: 1px 4px;
    font-size: 12px;
    border-radius: 1px;
    height: 20px;
}

.in_top_three{
    font-size: 12px;
    font-weight: 500;
    color: #4285f4;
}
.none_in_top_three{
    font-size: 12px;
    font-weight: 500;
    color: #868e96;
}
.shopping_mall_ranking_category{
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
    margin-bottom: 24px;
}
.shopping_mall_ranking_category_name{
    font-size: 20px;
    font-weight: 500;
}
.shopping_mall_ranking_wrapper{
    display: flex;
    justify-content: space-between;
}
.shopping_mall_ranking_item_ranking{
    margin-bottom: 6px;
}
.shopping_mall_ranking_item_image{
    height: 56px;
    width: 56px;
    border-radius: 100px;
    display: flex;
}
.shopping_mall_ranking_item_image img{
    width: 100%;
    object-fit: cover;
    
}
.shopping_mall_ranking_item_name{
    font-size: 12px;
    margin-top: 4px;
    color: #495057;
}

.jujeoljujeol{
    background-color: #f9f9fa;
    border: 1px solid #e9ecef;
    color: #495057;

    padding-left: 34px;
    height: 33px;

    text-align: center;

    display: flex;

    line-height: 33px;
}

.jugeol{
    position: relative;
}

.jujeol_box{
    border-right: 1px solid #c7ced4;

    padding-right: 10px;
    margin-right: 10px;
}

#weight{
    font-weight: 900;
}

#last{
    border: 0;
}

.jeolju{
    margin-left: 34px;
    width: 1136px;
}

.imonthenextlevel{
    margin-top: 18px;
    display: flex;
}

.level13{
    display: block;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.5;

    flex-grow: 3;
    flex-shrink: 1;
}

.info{
    margin-left: 45px;

    flex-grow: 10;
    flex-shrink: 1;
}

.info_content{
    line-height: 1.6;
    margin-bottom: 8px;

    font-size: 11px;
    color: #868e96;
}

.gogaekcenter{
    display: flex;
    margin-top: 18px;
}

.center{
    font-size: 11px;
    line-height: 1.5;
    font-weight: 700;
    
    flex-grow: 1;
    flex-shrink: 1;

    color: #495057;
}

.info_link{
    font-size: 11px;
    font-weight: 500;
    padding-right: 8px;

    border-right: 1px solid #dee2e6;
}