html{
    height:200%;
}

body{
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
}

div{
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    
    
    
    vertical-align: baseline;
}   

a{
    text-decoration: none;
    color: black;
}

button{
    background: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    
    text-decoration: none;  

    color: inherit;
    font: inherit;
}

i{
    margin: 0;
    padding: 0;
}

input{
    outline: none;
    border: 0;
}

.header_nav{
    position: fixed;
    width: 100%;
}

.header_outer{
    background: #121517;
    width: 100%;
    min-width: 783px;
}
.header_inner{
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    height: 52px;
}

.header_inner button{
    border:none;
    
    color: white;
    font-size: 12px;

    cursor: pointer;
}

.header_logo{
    margin-left: 12px;
}
.latest_item i{
    margin-left: 8px;
    margin-right: 8px;
}
.header_sex{
    margin-left: 12px;
    width: 160px;
}
.header_options{
    margin-right: 6px;
}
.header_options button{
    padding-left: 4px;
    padding-right: 4px;
}

main{
    margin-left: 115px;
    padding-top: 20px;
}
.banner{
    width: 680px;
    float: left;
}
.banner img{
    width: 100%;
}
.popular{
    margin-left: 20px;
    float:left;
}
.popular li{
    list-style-type: style;
}

#font_bold{
    font-weight: bold;
    font-size: 20px;
}
#latest_font{
    font-size: 14px;
}

.space_sex{
    margin-left: 24px;
}
.left_border{
    border-left: white solid 1px;
}
.flex_margin{
    margin-left: 12px;
}
.latest_item{
    width: 620px;
}

.nav{

    width: 100%;

    background-color: rgb(241, 243, 246);
    justify-content: center;
    align-items: center;
}

.nav_containerWrap{
    margin: 0 auto;

    max-width: 1100px;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 56px;

    margin-left: 12px;
}

.nav_btn{
    margin: 16px 36px 16px 0;
    font-size: 14px;
}

.nav_searchBox{
    display: flex;
    width: 398px;
    height: 38px;
    border: 1px solid rgb(222, 226, 230);
    background-color: white;
    align-items: center;

    overflow: hidden;
}

.search_tagWrap{
    margin: 5px;
    font-size: 12px;
    
    box-sizing: border-box;
}

.search_tagBtn_item{
    height: 30px;
    width: 43px;
    background-color: white;

    color: rgb(66, 133, 244);
    border: 1px solid rgb(66, 133, 244);
    border-radius: 2px;
}

.search_tagBtn_store{
    height: 30px;
    width: 54px;
    background-color: rgb(241, 243, 246);
}

.search_btn{
    font-size: 12px;
}

.search_inputWrap{
    box-sizing: border-box;
    text-align: left;
    margin-left: 3px;
    margin-right: 12px;
    
    flex: 1 1;
    height: 30px;

    overflow: hidden;
}

.search_input{
    width: 100%;
    height: 30px;
    font-size: 14px;
    border: 0;
    padding: 0;
    margin-right: 12px;
}

.search_btnWrap{
    display: flex;
    align-items: center;
    width: 50px;
    height: 32px;
    margin: 4px;

    border-radius: 3px;
}

.search_btn{
    background-color: rgb(66, 133, 244);

    padding: 0;
    color: white;

    cursor: pointer;
    font-size: 12px;

    width: 100%;
    height: 30px;
}

.root{
    width:1100px;
    min-width: 1100px;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 128px;
}
.root aside{
    float: left;
    padding-left: 12px;
    cursor: pointer;
}
.root aside ul{
    list-style-type: none;
    padding-left: 0;
}

.category{
    margin-bottom: 36px;
}
.category *{
    margin-bottom: 12px;
}
.category_name{
    font-size: 14px;
    font-weight: bold;
    height: 20px;
}
.category_content li{
    font-size: 12px;
    color: gray;
    height: 18px;
}
.category_content li:hover{
    color:black;
    font-weight: bold;
}

/*밥도 잘 먹지 모달~ 니가 생각날 까봐~*/
.modal{
    display: block;

    position: fixed;
    z-index: 1000;
    
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.418);
}

.modal_component{
    font-size: 30px;
    color: #212529;
    line-height: 1.5;
    border: 1px solid white;


    position: relative;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 400px;

    background-color: white;
    border-radius: 8px;

    transform: translateX(-50%) translateY(-50%);
}

.modal_component_header{
    display: flex;
    width: 56px;
    height: 56px;

    align-items: center;
    justify-content: center;
    margin: 62px auto 0;

    border-radius: 50%;
}

.modal_component_body{
    margin-top: 32px;
    text-align: center;
}

.modal_btnWrap{
    margin-top: 44px;
    text-align: center;
    justify-content: center;
}

.modal_btn{
    width: 151px;
    height: 52px;

    padding: 0;
    margin: 0 12px;
    border: 1px solid rgba(73, 73, 73, 0.178);

    border-radius: 40px;
    font-size: 20px;
    font-weight: 300;

    cursor: pointer;
}
.modal_btn.man:hover{
    border-color: rgb(0, 17, 255);
}

.modal_btn.woman:hover{
    border-color: rgb(255, 0, 0);
}
